body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #fff4f4;
    font-family: 'Courier New', Courier, monospace;
  }
  
  header {
    background-color: #19077e;
    color: #be8a8a;
    padding: 5px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0; 
    padding: 0;
    font-size: larger;
    text-decoration-line: inherit;
    text-align: left;
    
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    color: #cfcfcf;
    text-decoration: none;
    padding: 10px;
  }
  
  section#content {
    padding: 20px;
  }
  
  .product {
    display: inline-block;
    margin: 10px;
    text-align: center;
  }
  
  .product img {
    width: 200px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-family: sans-serif;
  }
  section {
    text-align: center;
    text-decoration: solid;
    text-transform: uppercase;
  }
  div{
    text-align: center;
  }

  
  